.card{
  margin-top: 30px;
  width: 200px;
  height: 400px;
}

.buttonChangeAmount{
  margin: 10px;

}

.prodContainer{
  max-width: 100%;
  height: 200px;
  align-content: center;
}

.prodImg{
  max-height: 100%;
  max-width: 100%;
}
