<div class="product-tiles">
  <div class="row">
    <div class="col-auto" *ngFor="let product of (filteredList$ | async)?.list">
      <div class="card">
        <div class="card-body">
          <div class="prodContainer">
            <img src="assets/{{product.id}}.jpg" class="prodImg" alt="...">
          </div>
          <h5 class="card-title">{{product.name}}</h5>
          <div class="card-text">
            <p>{{product?.origin?.name}}</p>
            <p>{{product?.price}} kr.</p>
          </div>
          <button class="btn btn-primary m-2">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

