<div *ngIf="!err && markets$ | async as markets$ else loading">
  <label>
    <select (change)="myFunc($event)">
      <option *ngFor="let market of markets$;"
              value={{market.id}}>
        {{market.name}} - {{market.id}}
      </option>
    </select>
  </label>
</div>

<!--
<div *ngIf="!err && markets$ | async as markets$">
  <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Supermarkets</button>
    <ul ngbDropdownMenu aria-labelledby="dropdownManual">
      <li ngbDropdownItem *ngFor="let market of markets$">{{market.name}}</li>
    </ul>
  </div>
</div>
-->

<ng-template #loading>
  <p id='p1'>Loading ...</p>
  <!--<p>Loading ...</p>-->
</ng-template>

<!--<p *ngIf="err">Loading error... {{err}}</p>-->
