a {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.title{
  margin: auto;
}

.info{
  font-size: 11px;
  line-height: 1.2;
}

.appToolbar{
  height: 80px;
}
