<!-- TODO: Replace! -->
<div class="col-md-6 col-md-offset-3">
  <h2>Home</h2>
  <p *ngIf="errormessage; else elseBlock" class="alert alert-danger">{{errormessage}}</p>
  <ng-template #elseBlock>
    <p>You're logged in {{username}}!</p>
    <div>
      <ul>
        <p>orders works!</p>
        <div class="market-container" *ngIf="markets$ | async as markets">
          <div class="market" *ngFor="let market of markets">
            <img src="assets/markets/{{market.id}}.png" alt="" class="market-img"
                 routerLink="market/{{market.id}}">
          </div>
        </div>
      </ul>
    </div>
  </ng-template>
</div>
